@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Outfit:wght@400;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", sans-serif;
}

/* Global Scrollbar Customization */
@layer base {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #1a1a1a;
    border-radius: 10px;
    border: 1px solid white;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #4F46E5;
  }

  /* Utility to hide scrollbars */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Firefox support */
  * {
    scrollbar-width: thin;
    scrollbar-color: #1a1a1a rgba(0, 0, 0, 0.05);
  }
}
